.torrent {
  position: relative;
  background: linear-gradient(180deg, rgba(7,83,249,0.9682466736694678) 0%, rgba(47,175,255,1) 45%, rgba(7,83,249,1) 100%);
  height: 75px;
  width: 100%;
  color: #DDD;
  overflow: hidden;
}

.torrent.searchResult {
  background: linear-gradient(180deg, rgba(26,213,6,1) 0%, rgba(26,213,6,1) 20%, rgba(26,213,6,1) 45%, rgba(105,203,134,1) 100%);
}

.torrent .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(180deg, rgba(29,194,11,0.9682466736694678) 0%, rgba(105,203,134,1) 20%, rgba(105,203,134,1) 45%, rgba(29,194,11,1) 100%);;
  z-index: 1;
}

.torrent .name {
  position: absolute;
  overflow: hidden;
  top: 5px;
  left: 5px;
  font-size: 15pt;
  z-index: 200;
  width: 9999px;
}

.torrent .shelf {
  position: absolute;
  top: 30px;
  left: 5px;
  font-size: 9pt;
  z-index: 200;
}

.torrent .shelf2 {
  position: absolute;
  top: 50px;
  left: 5px;
  font-size: 9pt;
  z-index: 200;
}

.torrent .shelf2 span, .torrent .shelf span {
  padding-left: 3px;
}
